.App {
    text-align: center;
    color: #515151;
    padding: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro h1,
.intro span,
.intro input {
    margin: 5px 0;
    text-align: center;
}
